<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>perfil</title>
    <link rel="stylesheet" href="/PROYECTo/css/style7.css">
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script defer src="carga.js"></script>
    <script defer src="fondo.js"></script>
</head>
<body>
  <header class="header">
    <nav class="nav">
      <a href="/vistainicio" class="logo nav-link"><img src="../../../assets/img/Reposen3.png" width=60px></a>
      <button class="nav-toggle" aria-label="Abrir menú">
        <i class="fas fa-bars"></i>
      </button>
      <ul class="nav-menu">
        <li class="nav-menu-item">
          <a href="/vistainicio" class="nav-menu-link nav-link">INICIO</a>
        </li>
        <li class="nav-menu-item">
          <a href="/ficha" class="nav-menu-link nav-link">FICHAS</a>
        </li>
        <li class="nav-menu-item">
          <a href="/perfil" class="nav-menu-link nav-link">USUARUIO</a>
        </li>
        <li class="nav-menu-item">
          <a href="/contacto" class="nav-menu-link nav-link nav-menu-link_active"
            >Contacto</a>
        </li>
      </ul>
    </nav>
  </header>
  
  <section class="perfil-usuario">
    <div class="contenedor-perfil">
        <div class="portada-perfil" style="background-image: url(../../../assets/img/Reposen3.png)">
            <div class="sombra"></div>
            <div class="avatar-perfil">
              <div class="profile-pic-div">
                <img src="../../../assets/img/image.jpg" id="photo">
                <input type="file" id="file">
                <label for="file" id="uploadBtn">Choose Photo</label>
              </div>                
            </div>
            <div class="datos-perfil">
                <h4 class="titulo-usuario">Nombre de usuario</h4>
                <p class="bio-usuario">Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                <ul class="lista-perfil">
                    <li>32 Publicaciones</li>
                </ul>
            </div>
            <div class="opcciones-perfil">
                <button type="">Cambiar portada</button>
                <button type=""><i class="fas fa-wrench"></i></button>
               
            </div>
        </div>
        <div class="menu-perfil">
            <ul>
                <li><a href="/proyecto" title=""><i class="icono-perfil fas fa-bullhorn"></i> Proyectos</a></li>
                <li><input type="file" id="real-file" hidden="hidden" />
                  <button type="button" id="custom-button">CHOOSE A FILE</button>
                  <span id="custom-text">No file chosen, yet.</span></li>
            </ul>
        </div>
    </div>
    <br>
    <label for="file">Progreso del archivo:</label>

    <progress value="70" max="100">70 %</progress>
</section>

  <!--====  End of tarjeta  ====-->
  </body>
  
  </html>