<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fichas</title> 
    <link rel="stylesheet" href="/PROYECTo/css/style6.css">
</head>
<body>
    <header class="header">
        <nav class="nav">
          <a href="/vistainicio" class="logo nav-link"><img src="../../../assets/img/Reposen3.png" width=60px></a>
          <button class="nav-toggle" aria-label="Abrir menú">
            <i class="fas fa-bars"></i>
          </button>
          <ul class="nav-menu">
            <li class="nav-menu-item">
              <a href="/vistainicio" class="nav-menu-link nav-link">INICIO</a>
            </li>
            <li class="nav-menu-item">
              <a href="/ficha" class="nav-menu-link nav-link">FICHAS</a>
            </li>
            <li class="nav-menu-item">
              <a href="/perfil" class="nav-menu-link nav-link">USUARUIO</a> 
            </li>
            <li class="nav-menu-item">
              <a href="/contacto" class="nav-menu-link nav-link nav-menu-link_active"
                >Contacto</a>
            </li>
          </ul>
        </nav>
      </header>
    <div class="container__cards">

        <div class="card">
            <div class="cover">
                <img src="../../../assets/img/p3.png" alt="">
                <div class="img__back"></div>
            </div>
            <div class="description">
                <h2>Carolina Herrera</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, laboriosam.</p>
                <input type="button" value="Leer Más">
            </div>
        </div>

        <div class="card">
            <div class="cover">
                <img src="../../../assets/img/p2.png" alt="">
                <div class="img__back"></div>
            </div>
            <div class="description">
                <h2>Elon Musk</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, laboriosam.</p>
                <input type="button" value="Leer Más">
            </div>
        </div>

        <div class="card">
            <div class="cover">
                <img src="../../../assets/img/p1.png" alt="">
                <div class="img__back"></div>
            </div>
            <div class="description">
                <h2>Aya Nakamura</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, laboriosam.</p>
                <input type="button" value="Leer Más">
            </div>
        </div>

    </div>
    
</body>
</html>
